body{
    padding-top: 110px;

}

.navbar-brand {
    padding: 0;
}

.logo {
    margin: 0;
}

#navLogo {
    width: 50px;
    height: 50px;
}
.hidden-when-logged-out {
    opacity: 100%;
}
.hidden-when-logged-in {
    opacity: 100%;
}

.countdown {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.tinytext {
    font-size: 7px;
}

